.heading {
    margin: 1em .5em;
}

h1,
h3 {
    margin: 0 0;
    color: #26292b;
}

.center-nav {
    width: 41em;
    /* border: 1px solid wheat; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav-but-right .nav-link, 
.nav-but-right a {
    text-decoration: none;
}


.nav-but-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-decoration: none;
}

.nav-link {
    margin:0.2em 2.3em 0.2em 0em;
    display: block;
    color: white;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    cursor: pointer;
}

.nav-link:hover {
    font-weight: var(--bs-nav-link-font-weight);
    color: #f0a06b; 
}

.navbar {
    box-shadow: 0 0 20px 0 rgb(40 25 16), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    padding: .6em 2.9em;
    color: white;
    z-index: 1000;

    /* Ensure navbar stays above other content */
}

.navbar-brand span {
    color: #c8c3be;
    font-weight: 900;
}

button {
    display: flex;
    padding: 5px 9px;
    border-radius: 10px;
    font-weight: 700;
    color: #212529;
    background-color: #fff8f2;
    border: none;
}

.nav-but button {
    /* background-color: green; */
}