
.category {
  height: 5em;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch; 
  white-space: nowrap;
  padding: 0em 2em;
  justify-content: space-between;
}

.category-item {
  border: 1px solid yellow;
}

.category::-webkit-scrollbar {
  height: 8px;  /* Set scrollbar height */
}

.category::-webkit-scrollbar-thumb {
  background-color: #f1423a;  /* Customize scrollbar color */
  border-radius: 5px;
}

.category::-webkit-scrollbar {
  display: none;
}

.category p {
  padding: 0.3em 0.9em;
  cursor: pointer;
  border-radius: 54px;
  border: 0.1em solid #f1423a;
  white-space: nowrap;
  color: #f1423a;
  transition: background-color 0.3s;
}

.category p:hover {
  background-color: #f13b16;
  color: white;
}

.slick-slide > div {
  margin: 0 0px;
  width: 7em;
}


.slick-dots li button:before {
  border: 1px solid wheat;
  font-family: 'slick';
  font-size: 9px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 37px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: var(--body_color);
  -webkit-font-smoothing: antialiased;
}

slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 28px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}