
.login-page h3{
    color: #f1423a;
    margin: 5px 0;
    font-weight: 700;
}
.text-muted {
    color: #ce254c !important;
}

.form-outside{
    background-color: #b2fab0;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    /* min-height: 100vh; */
}