.login-but {
  text-align: center; /* Align the button content */
  display: inline-block; /* Make the container behave like a button */
}
  
.login-but a {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  background-color: transparent;
  color: #ccc0c0;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.login-but a:hover {
  background-color: brown; /* Brown background on hover */
  color: white; /* White text on hover */
  border-color: brown; /* Change border to brown on hover */
}

.login-but .icon {
  margin-left: 10px; /* Add space between text and icon */
  font-size: 20px; /* Size for the icon */
}
  