.css-1ks3uzw-MuiTable-root {
    background-color: #2e7d32;
}

.MuiTable-root {
  background-color: #337536 !important;
}


/* Add more specificity */
.MuiTableCell-root.table-cell {
    color: white;
    font-size: 1.02em;
}

.trash-icon{
    cursor: pointer;
}

.recipe-detail-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  
  .recipe-detail-container p {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .recipe-detail-container a {
    color: #007bff;
    text-decoration: none;
  }
  

.css-1dc80h3-MuiTableCell-root {
  display: flex;
  align-content: space-between;
}


.edit-header{
    width: 100%;
    display: flex;
    margin-bottom: 0.7em;
    justify-content: space-between;
}

.edit-header button{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: transparent;
    color: #a3b4a4;
    border: 1px solid #2e7d32;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.left-save-cancel{
  display: flex;
  gap: 1em;
}