.css-1ks3uzw-MuiTable-root {
    background-color: #ff6d00;
}

/* Add more specificity */
.MuiTableCell-root.table-cell {
    color: white;
    font-size: 1.02em;
}

.trash-icon{
    cursor: pointer;
}

.recipe-detail-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  
  .recipe-detail-container p {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .recipe-detail-container a {
    color: #007bff;
    text-decoration: none;
  }
  