* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

:root{
    --body_background: #fee1b2;
    --body_color: #494e50;
    --nav_background: #f6d7a3;
    --nav_color: #5f4e4e;
}

[data-theme='dark']{
    --body_background: #262b33;
    --body_color: #e8ebee;
    --nav_background: #1c232c;
    --nav_color: #e7dddd;
}
h2{
    color: var(--body_color);
}
html, body {
    /* background: linear-gradient(90deg, rgb(254 225 178) 8%, rgb(254 225 178) 71%);   */
    background-color: var(--body_background);
    /* height: 100%; */
    font-family: Arial, sans-serif; /* Default font */
    line-height: 1.5; /* Default line height */
}