
:root{
    --body_background: #262b33;
    --body_color: #e8ebee;
    --nav_background: #1c232c;
    --nav_color: #e7dddd;
    --form_color: #daa520;
}

[data-theme='dark']{
    --body_background: #fee1b2;
    --body_color: #494e50;
    --nav_background: #f6d7a3;
    --nav_color: #5f4e4e;
    --form_color: #f1423a;
}
h2{
    color: var(--body_color);
}

body {
    margin: 0;
    /* display: flex; */
    /* place-items: center; */
    /* min-width: 320px; */
    min-height: 100vh;
    background-color: var(--body_background);
    font-family: Arial, sans-serif; /* Default font */
    transition: all 0.2s ease-in-out;;
  }